html, body { height: 100%; margin: 0; padding: 0; }

body {
	display: flex;
	flex-direction: column;
}

main { flex-grow: 1; }

h1, h2, h3, h4, h5 { margin: 0; }

.bg-green { background-color: #6abd3c; }

.bg-gray { background-color: #ededed; }

/*
	Boutons
*/

.btn-delete {
	text-decoration: none;
}

.table-payments-header > div {
	flex-basis: 0;
	padding-left: .4rem;
}

.table-payments-data:nth-child(even) {
	background-color: #ededed;
}

.table-payments-data > div {
	flex-basis: 0;
	padding-left: .4rem;
	
	font-family: "Verdana";
	font-size: 10pt;
}

.form-login, .form-register {
	border-radius: .3rem;
}

.form-control { outline: none; box-shadow: none !important; }

input[type="number"], select { margin-right: .5rem; }

input[type="number"] {
	width: 128px;
}

input[type="submit"] {
	width: 96px;
}

@media screen and (min-width: 600px) {
	.header-payments { width: 50% !important; }
	
	.table-payments { width: 50% !important; }
	
	.form-payment { width: 50% !important; }
	
	.form-login { width: 384px !important; }
	
	.form-register { width: 384px !important; }
}