html, body { height: 100%; margin: 0; padding: 0; }

body {
	display: flex;
	flex-direction: column;
}

main { flex-grow: 1; }

h1, h2, h3, h4, h5 { margin: 0; }

h5 { font-size: 12pt; }

p { margin: 0; }

.bg-green { background-color: #6abd3c; }

.bg-gray { background-color: #ededed; }

/*
	Boutons
*/

.navbar-brand { border: none; }

.bg-green:hover {
	background: rgb(39,223,63);
}


.btn-delete {
	text-decoration: none;
}

.btn-pay {
	margin-left: .4rem;
}

.table-payments-header > div {
	flex-basis: 0;
	padding-left: .4rem;
}

.table-payments-data:nth-child(even) {
	background-color: #ededed;
}

.table-payments-data > div {
	flex-basis: 0;
	padding-left: .4rem;
	
	font-family: "Verdana";
	font-size: 10pt;
}

.form-login, .form-register {
	border-radius: .3rem;
}

.form-register div > input {
	font-size: 10pt;
	padding: .3rem .5rem;
}

.form-control { outline: none; box-shadow: none !important; }

.label-form {
	font-size: 10pt;
	font-family: "Verdana";
	padding-left: .2rem;
}

input[type="number"], select { margin-right: .5rem; }

input[type="number"] {
	width: 128px;
}

input[type="submit"] {
	width: 96px;
}

/*
	Texte
*/

@media screen and (min-width: 600px) {
	.form-login { width: 384px !important; }
	
	.form-register { width: 384px !important; }
	
	main { width: 30%; margin: 0 auto; }
}

@media screen and (min-width: 900px) {
	main { margin: 0 auto; }
}