<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="fragments/general :: headerfiles"></th:block>
</head>
<body>
	<th:block th:insert="fragments/general :: header"></th:block>
	
	<main class="d-flex flex-column justify-content-center">
		<section class="wrapper" th:if="${#lists.isEmpty(accounts)}">
			<h5>Adding a new Bank account.</h5>
			<form method="post" th:action="@{/accounts/add}" class="form-payment d-flex justify-content-evenly p-3 mt-1 w-100 bg-gray">
				<input type="text" name="accountNumber" placeholder="Account Number">
				<input type="text" name="label" placeholder="Label">

				<input type="submit" value="Add">
			</form>
			
			<div th:if="${account}" class="pl-2 mt-2">
				<p class="text-success">Bank account successfully bound.</p>
			</div>
			
			<div th:if="${error} and ${error == 1}" class="pl-2 mt-2">
				<p class="text-danger">Cannot bind this bank account.</p>
			</div>
		</section>
		
		<section class="wrapper" th:unless="${#lists.isEmpty(accounts)}">
			<h5 class="mb-2">Send money to my bank account (current PayMyBuddy balance : <span th:text="${#numbers.formatDecimal(currentBalance, 0, 0) + '€'}"></span>).</h5>
			
			<!-- Transfert vers le Compte Bancaire -->
			<form method="post" th:action="@{/accounts/transfert}" class="form-payment d-flex justify-content-evenly p-3 mt-1 w-100 bg-gray">
				<select name="idAccount" class="px-2 form-control">
					<option value="0">Select Account</option>
					<th:block th:each="account : ${accounts}">
						<option th:value="${account.id}" th:text="${account.accountNumber}"></option>
					</th:block>
				</select>
				
				<input type="number" name="sum" placeholder="0€" min="1" required>
				<input type="submit" value="Transfert">
			</form>
			
			<div th:if="${transfert}" class="pl-2 mt-2">
				<p class="text-success">Fund transfert successful.</p>
			</div>
			
			<div th:if="${error} and ${error == 2}" class="pl-2 mt-2">
				<p class="text-danger">Error during fund transfert.</p>
			</div>
			
			<h5 class="mb-2 mt-4">Transfert money to my PayMyBuddy account.</h5>
			
			<!-- Transfert vers le Compte Utilisateur -->
			<form method="post" th:action="@{/accounts/refill}" class="form-payment d-flex justify-content-evenly p-3 mt-1 w-100 bg-gray">
				<select name="idAccount" class="px-2 form-control">
					<option value="0">Select Account</option>
					<th:block th:each="account : ${accounts}">
						<option th:value="${account.id}" th:text="${account.accountNumber}"></option>
					</th:block>
				</select>
				
				<input type="number" name="sum" placeholder="0€" min="1" required>
				<input type="submit" value="Transfert">
			</form>
			
			<div th:if="${credit}" class="pl-2 mt-2">
				<p class="text-success">Fund transfert to PMB account successful.</p>
			</div>
			
			<div th:if="${error} and ${error == 3}" class="pl-2 mt-2">
				<p class="text-danger">Error during fund transfert to PMB account.</p>
			</div>
		</section>
	</main>
	
	<th:block th:insert="fragments/general :: footer"></th:block>
</body>
</html>