<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="fragments/general :: headerfiles"></th:block>
</head>
<body>
	<th:block th:insert="fragments/general :: header"></th:block>
	
	<main class="d-flex flex-column justify-content-center">
		<!-- Ajout de Contact -->
		<form method="post" th:action="@{/contacts/add}" class="form-payment d-flex justify-content-evenly p-3 mt-1 w-100 bg-gray">
			<input type="email" name="email" placeholder="elon.musk@gmail.com" autocomplete="off" class="form-control">
			<input type="submit" value="Add" class="btn btn-pay bg-green form-control">
		</form>
		
		<div th:if="${contact}" class="pl-2 mt-2">
			<p class="text-success">Contact <span th:text="${contact}" class="text-info"></span> added successfully!</p>
		</div>
		
		<div th:if="${error} and ${error == 1}" class="pl-2 mt-2">
			<p class="text-danger" th:text="${error}"></p>
		</div>
		
		<!-- Liste des Contacts -->
		<div class="table-payments d-flex flex-column mt-4 w-100">
			<div class="d-flex flex-row align-items-center bg-green table-payments-header">
				<div class="d-flex justify-content-center flex-grow-1">Last Name</div>
				<div class="d-flex justify-content-center flex-grow-1">First Name</div>
				<div class="d-flex justify-content-center flex-grow-1">Action</div>
			</div>
			
			<div class="d-flex flex-row align-items-center table-payments-data" th:each="contact : ${contacts.content}">
				<div class="d-flex justify-content-center flex-grow-1" th:text="${contact.name}"></div>
				<div class="d-flex justify-content-center flex-grow-1" th:text="${contact.forename}"></div>
				<div class="d-flex justify-content-center flex-grow-1"><a th:href="@{/contacts/delete(idContact=${contact.id})}" title="Remove this Contact" class="btn-delete">Remove</a></div>
			</div>
			
			<p th:if="${contacts.content.size() == 0}" class="mt-3">No contacts to be shown.</p>
		</div>
		
		<ul class="pagination mt-4 justify-content-center">
			<li th:if="${contacts.hasPrevious()}" class="page-item">
		        <a class="page-link" th:href="@{/contacts(numPage=${contacts.previousPageable().pageNumber})}">PREVIOUS</a>
			</li>
		    
		    <!-- Loop to display page numbers. -->
		    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, contacts.totalPages - 1)}" th:classappend="${contacts.number == pageNumber} ? 'page-item disabled'">
		        <a th:if="${contacts.totalPages}" class="page-link" th:href="@{/contacts(numPage=${pageNumber})}" th:text="${pageNumber + 1}"></a>
		    </li>
		    
		    <li th:if="${contacts.hasNext()}" class="page-item">
		        <a class="page-link" th:href="@{/contacts(numPage=${contacts.nextPageable().pageNumber})}">NEXT</a>
		    </li>
		</ul>
	</main>
	
	<th:block th:insert="fragments/general :: footer"></th:block>
</body>
</html>