<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="fragments/general :: headerfiles"></th:block>
</head>
<body>
	<th:block th:insert="fragments/general :: header"></th:block>
	
	<main class="d-flex flex-column justify-content-center h-100">
		<h2 th:if="${user != null}">Welcome back, <span th:text="${user.forename}"></span>!</h2>
		<h2 th:if="${user == null}">Welcome to Pay My Buddy!</h2>
		<small th:if="${inscription}" class="text-info">Votre inscription a bien été prise en compte !</small>
	</main>
	
	<th:block th:insert="fragments/general :: footer"></th:block>
</body>
</html>