<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="fragments/general :: headerfiles"></th:block>
</head>
<body>
	<th:block th:insert="fragments/general :: header"></th:block>
	
	<main class="d-flex flex-column justify-content-center align-items-center">
		<!-- Inscription -->
		<form method="post" action="profile/update" class="form-register d-flex flex-column justify-content-center p-3 mt-1 w-100 border border-secondary">
			
			<div class="register-personal form-group mb-4">
				<h5 class="mb-2">Identity :</h5>
				<input type="text" name="lastName" class="form-control mb-1" placeHolder="Enter your last name." th:value="${user.name}">
				<input type="text" name="forename" class="form-control mb-1" placeHolder="Enter your first name." th:value="${user.forename}">
				
				<!-- Not Used.
				<input type="text" name="forename" placeHolder="Enter your first name." th:value="${#temporals.format(user.dob, 'dd/MM/yyyy')}">
				 -->
			</div>
			
			<div class="register-address form-group mb-4">
				<h5 class="mb-2">Address :</h5>
				<input type="text" name="address.number" class="form-control mb-2" placeHolder="Enter your street number." th:value="${user.address.number}">
				<input type="text" name="address.street" class="form-control mb-2" placeHolder="Enter the street name." th:value="${user.address.street}">
				<input type="text" name="address.extra" class="form-control mb-2" placeHolder="Extra information for street address." th:value="${user.address.extra}">
				<input type="text" name="address.zipCode" class="form-control mb-2" placeHolder="Zipcode of the city in which you reside." th:value="${user.address.zipCode}">
				<input type="text" name="address.city" class="form-control mb-2" placeHolder="City in which you reside." th:value="${user.address.city}">
			</div>
			
			<input type="submit" value="Modify" class="form-control btn btn-primary w-100">
		</form>
	</main>
	
	<th:block th:insert="fragments/general :: footer"></th:block>
</body>
</html>